<div class="home-container" fxLayout="row">

  <mat-card fxFlex="43%" fxLayout="column">

    <mat-card-title>Base Services, Overages</mat-card-title>

    <div fxLayout="row" fxLayoutAlign="space-between">

      <mat-form-field class="amount" fxFlex="20%">
        <mat-label>Amount</mat-label>
        <input
          #amtInput
          (focus)="amtInput.select()"
          (input)="calcSubtotal()"
          (keyup.enter)="addNewButton._elementRef.nativeElement.click()"
          [(ngModel)]="amount"
          [allowNegativeNumbers]="true"
          autofocus
          mask="separator.2"
          matInput
          placeholder="0"
          thousandSeparator=","
          type="text">
        <span matPrefix>$&nbsp;</span>

      </mat-form-field>
      <mat-form-field class="type" fxFlex="20%">
        <mat-label>Type</mat-label>
        <mat-select #selectOption
                    [(ngModel)]="amtType"
        >
          <mat-option (click)="selectOption.close()" *ngFor="let type of amountTypes" [value]="type.value">
            {{type.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="frequency" fxFlex="20%">
        <input #frequencyInput
               (focus)="frequencyInput.select()"
               (input)="calcSubtotal()"
               (keyup.enter)="addNewButton._elementRef.nativeElement.click()"
               [(ngModel)]="frequency"
               matInput
               placeholder="Frequency"
               type="number">
      </mat-form-field>
      <mat-form-field class="subtotal" fxFlex="20%">
        <mat-label>Subtotal</mat-label>
        <input
          [(ngModel)]="subtotal"
          [allowNegativeNumbers]="true"
          [disabled]="true"
          mask="separator.2"
          matInput
          placeholder="0"
          thousandSeparator=",">
        <span matPrefix>$&nbsp;</span>

      </mat-form-field>
      <mat-icon #addNewButton (click)="addNewBillAmount(); amtInput.focus();"> add</mat-icon>

    </div>

    <div *ngFor="let baseAmount of billAmounts; index as i" fxLayout="row" fxLayoutAlign="space-between">

      <mat-form-field class="frequency" fxFlex="20%">
        <input
          (input)="baseAmount.subtotal = baseAmount.amount * baseAmount.frequency"
          [(ngModel)]="baseAmount.amount"
          matInput
          type="number">

      </mat-form-field>
      <mat-form-field class="type" fxFlex="20%">
        <mat-label>Type</mat-label>
        <mat-select #selectOption
                    [(ngModel)]="baseAmount.type"
        >
          <mat-option (click)="selectOption.close()" *ngFor="let type of amountTypes" [value]="type.value">
            {{type.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="frequency" fxFlex="20%">
        <input
          (input)="baseAmount.subtotal = baseAmount.amount * baseAmount.frequency"
          [(ngModel)]="baseAmount.frequency"
          matInput
          type="number">

      </mat-form-field>
      <mat-form-field class="subtotal" fxFlex="20%">
        <mat-label>Subtotal</mat-label>
        <input
          [(ngModel)]="baseAmount.subtotal"
          [allowNegativeNumbers]="true"
          [disabled]="true"
          mask="separator.2" matInput
          placeholder="0"
          thousandSeparator=","
        >
        <span matPrefix>$&nbsp;</span>

      </mat-form-field>
      <mat-icon (click)="deleteBillAmount(i)">delete</mat-icon>

    </div>

    <div class="fuel-env-rcr-fran-section" fxLayout="column">
      <mat-card-title>Fuel, ENV, RCR, Franchise</mat-card-title>

      <div class="fuel-row" fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field class="fuel-amount" fxFlex="20%">
          <mat-label>{{'Fuel'}}</mat-label>
          <input #fuelAmountInput
                 (focus)="fuelAmountInput.select()"
                 [(ngModel)]="fuelAmount"
                 mask="separator.2"
                 matInput
                 placeholder="0"
                 thousandSeparator=","
                 type="text">
          <span matPrefix>$&nbsp;</span>

        </mat-form-field>
        <mat-form-field class="fuel-calculated" fxFlex="20%">
          <input
            [ngModel]="calcFuelPercentage()"
            disabled
            mask="separator.4"
            matInput
            type="number">
          <span matSuffix>%&nbsp;</span>


        </mat-form-field>
        <mat-form-field class="fuel-override" fxFlex="20%">
          <mat-label>{{'Fuel % Override'}}</mat-label>
          <input #fuelOverride
                 (focus)="fuelOverride.select()"
                 [(ngModel)]="fuelPercentageOverride"
                 matInput
                 placeholder="0"
                 type="number">

          <span matSuffix>%</span>

        </mat-form-field>
        <mat-form-field class="fuel-env-combined" fxFlex="20%">
          <mat-label>{{'Combined Fuel & ENV'}}</mat-label>
          <input #fuelEnvCombinedAmountInput
                 (focus)="fuelEnvCombinedAmountInput.select()"
                 [(ngModel)]="fuelEnvCombinedAmount"
                 matInput
                 placeholder="0"
                 type="number">

          <span matPrefix>$</span>

        </mat-form-field>
        <mat-icon
          (click)="combinedCalc()">
          calculate
        </mat-icon>


      </div>
      <div class="env-row" fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field class="env-amount" fxFlex="20%">
          <mat-label>{{'ENV'}}</mat-label>
          <input #envAmountInput
                 (focus)="envAmountInput.select()"
                 [(ngModel)]="envAmount"
                 mask="separator.2"
                 matInput
                 placeholder="0"
                 thousandSeparator=","

                 type="text">
          <span matPrefix>$&nbsp;</span>

        </mat-form-field>
        <mat-form-field class="env-calculated" fxFlex="20%">
          <input
            [ngModel]="calcEnvPercentage()"
            disabled
            mask="separator.4"
            matInput
            type="number">

          <span matSuffix>%&nbsp;</span>

        </mat-form-field>
        <mat-form-field class="env-override" fxFlex="20%">
          <mat-label>{{'ENV % Override'}}</mat-label>
          <input #envOverrideInput
                 (focus)="envOverrideInput.select()"
                 [(ngModel)]="envPercentageOverride"
                 matInput
                 placeholder="0"
                 type="number">

          <span matSuffix>%</span>

        </mat-form-field>
        <div fxFlex="20%"></div>
        <mat-icon>&nbsp;</mat-icon>

      </div>
      <div class="rcr-row" fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field class="rcr-amount" fxFlex="20%">
          <mat-label>{{'RCR'}}</mat-label>
          <input #rcrAmountInput
                 (focus)="rcrAmountInput.select()"
                 [(ngModel)]="rcrAmount"
                 mask="separator.2"
                 matInput
                 placeholder="0"
                 thousandSeparator=","
                 type="text">

          <span matPrefix>$&nbsp;</span>

        </mat-form-field>
        <mat-form-field class="rcr-calculated" fxFlex="20%">
          <input
            [ngModel]="calcRcrPercentage()"
            disabled
            mask="separator.4"
            matInput
            type="number">

          <span matSuffix>%&nbsp;</span>

        </mat-form-field>
        <mat-form-field class="rcr-override" fxFlex="20%">

          <mat-label>{{'RCR % Override'}}</mat-label>

          <input #rcrOverrideInput
                 (focus)="rcrOverrideInput.select()"
                 [(ngModel)]="rcrPercentageOverride"
                 matInput
                 placeholder="0"
                 type="number">

          <span matSuffix>%</span>

        </mat-form-field>
        <div fxFlex="20%">&nbsp;</div>
        <mat-icon> &nbsp;</mat-icon>
      </div>
      <div class="franchise-row" fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field class="franchise-amount" fxFlex="20%">

          <mat-label>{{'Franchise'}}</mat-label>

          <input #franchiseAmountInput

                 (focus)="franchiseAmountInput.select()"
                 [(ngModel)]="franchiseAmount"
                 mask="separator.2"
                 matInput
                 placeholder="0"
                 thousandSeparator=","
                 type="text">

          <span matPrefix>$&nbsp;</span>

        </mat-form-field>
        <mat-form-field class="franchise-calculated" fxFlex="20%">
          <input
            [ngModel]="calcFranchisePercentage()"
            disabled
            mask="separator.4"
            matInput
            type="number">

          <span matSuffix>%&nbsp;</span>

        </mat-form-field>
        <mat-form-field class="franchise-percentage" fxFlex="20%">

          <mat-label>{{'Franchise % Override'}}</mat-label>

          <input #franchiseOverrideInput

                 (focus)="franchiseOverrideInput.select()"
                 [(ngModel)]="franchisePercentageOverride"
                 matInput
                 placeholder="0"
                 type="number">

          <span matSuffix>%</span>

        </mat-form-field>
        <div fxFlex="20%">&nbsp;</div>
        <mat-icon> &nbsp;</mat-icon>
      </div>

    </div>

    <div class="admin-other-section" fxLayout="column">
      <mat-card-title>Admin, Other, Late</mat-card-title>

      <div class="fuel-row" fxLayout="row" fxLayoutAlign="space-between">

        <mat-form-field class="admin-amount" fxFlex="20%">
          <mat-label>{{'Admin Fee'}}</mat-label>
          <input #adminAmountInput
                 (focus)="adminAmountInput.select()"

                 [(ngModel)]="adminFee"
                 mask="separator.2"
                 matInput
                 placeholder="0"
                 thousandSeparator=","
                 type="text">

          <span matPrefix>$&nbsp;</span>

        </mat-form-field>
        <mat-form-field class="other-1-amount" fxFlex="20%">
          <mat-label>{{'Other Amount 1'}}</mat-label>
          <input #other1AmountInput
                 (focus)="other1AmountInput.select()"
                 [(ngModel)]="otherFee1"
                 mask="separator.2"
                 matInput
                 placeholder="0"
                 thousandSeparator=","
                 type="text">

          <span matPrefix>$&nbsp;</span>

        </mat-form-field>
        <mat-form-field class="other-2-amount" fxFlex="20%">
          <mat-label>{{'Other Amount 2'}}</mat-label>
          <input #other2AmountInput
                 (focus)="other2AmountInput.select()"
                 [(ngModel)]="otherFee2"
                 mask="separator.2"
                 matInput
                 placeholder="0"
                 thousandSeparator=","
                 type="text">

          <span matPrefix>$&nbsp;</span>

        </mat-form-field>
        <mat-form-field class="late-fee-amount" fxFlex="20%">
          <mat-label>{{'Late Fee'}}</mat-label>
          <input #lateFeeInput
                 (focus)="lateFeeInput.select()"
                 [(ngModel)]="lateFee"
                 mask="separator.2"
                 matInput
                 placeholder="0"
                 thousandSeparator=","
                 type="text">

          <span matPrefix>$&nbsp;</span>

        </mat-form-field>

        <mat-icon>&nbsp;</mat-icon>


      </div>


    </div>

    <div class="taxes-section" fxLayout="column">
      <mat-card-title>Taxes</mat-card-title>

      <div class="tax-1-row" fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field class="tax-1-amount" fxFlex="20%">
          <mat-label>{{'Tax 1'}}</mat-label>
          <input #taxAmountInput
                 (focus)="taxAmountInput.select()"
                 [(ngModel)]="taxAmount"
                 mask="separator.2"
                 matInput
                 placeholder="0"
                 thousandSeparator=","
                 type="text">

          <span matPrefix>$&nbsp;</span>

        </mat-form-field>
        <mat-form-field class="tax-1-calculated" fxFlex="20%">
          <input
            [ngModel]="calcTax1Percentage()"
            disabled
            mask="separator.4"
            matInput
            type="number">
          <span matSuffix>%&nbsp;</span>


        </mat-form-field>
        <mat-form-field class="tax-1-override" fxFlex="20%">
          <mat-label>{{'Tax 1 % Override'}}</mat-label>
          <input #tax1Override
                 (focus)="tax1Override.select()"
                 [(ngModel)]="taxAmountPercentageOverride"
                 matInput
                 placeholder="0"
                 type="number">

          <span matSuffix>%</span>

        </mat-form-field>
        <div fxFlex="20%">&nbsp;</div>
        <mat-icon> &nbsp;</mat-icon>


      </div>
      <div class="tax-2-row" fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field class="tax-2-amount" fxFlex="20%">
          <mat-label>{{'Tax 2'}}</mat-label>
          <input #taxAmount2Input
                 (focus)="taxAmount2Input.select()"
                 [(ngModel)]="taxAmount2"
                 mask="separator.2"
                 matInput
                 placeholder="0"
                 thousandSeparator=","
                 type="text">

          <span matPrefix>$&nbsp;</span>

        </mat-form-field>
        <mat-form-field class="tax-2-calculated" fxFlex="20%">
          <input
            [ngModel]="calcTax2Percentage()"
            disabled
            mask="separator.4"
            matInput
            type="number">

          <span matSuffix>%&nbsp;</span>

        </mat-form-field>
        <mat-form-field class="tax-2-override" fxFlex="20%">
          <mat-label>{{'Tax 2 % Override'}}</mat-label>
          <input #tax2OverrideInput
                 (focus)="tax2OverrideInput.select()"
                 [(ngModel)]="taxAmountPercentage2Override"
                 matInput
                 placeholder="0"
                 type="number">

          <span matSuffix>%</span>

        </mat-form-field>
        <div fxFlex="20%"></div>
        <mat-icon>&nbsp;</mat-icon>

      </div>
      <div class="tax-3-row" fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field class="tax-3-amount" fxFlex="20%">
          <mat-label>{{'Tax 3'}}</mat-label>
          <input #taxAmount3Input
                 (focus)="taxAmount3Input.select()"

                 [(ngModel)]="taxAmount3"
                 mask="separator.2"
                 matInput
                 placeholder="0"
                 thousandSeparator=","
                 type="text">

          <span matPrefix>$&nbsp;</span>

        </mat-form-field>
        <mat-form-field class="tax-3-calculated" fxFlex="20%">


          <input
            [ngModel]="calcTax3Percentage()"
            disabled
            mask="separator.4"
            matInput
            type="number">

          <span matSuffix>%&nbsp;</span>

        </mat-form-field>
        <mat-form-field class="tax-3-override" fxFlex="20%">

          <mat-label>{{'Tax 3 % Override'}}</mat-label>

          <input #tax3OverrideInput
                 (focus)="tax3OverrideInput.select()"
                 [(ngModel)]="taxAmountPercentage3Override"
                 matInput
                 placeholder="0"
                 type="number">

          <span matSuffix>%</span>

        </mat-form-field>
        <div fxFlex="20%">&nbsp;</div>
        <mat-icon> &nbsp;</mat-icon>
      </div>
      <div class="tax-4-row" fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field class="tax-4-amount" fxFlex="20%">
          <mat-label>{{'Tax 4'}}</mat-label>
          <input #taxAmount4Input
                 (focus)="taxAmount4Input.select()"

                 [(ngModel)]="taxAmount4"
                 mask="separator.2"
                 matInput
                 placeholder="0"
                 thousandSeparator=","
                 type="text">

          <span matPrefix>$&nbsp;</span>

        </mat-form-field>
        <mat-form-field class="tax-4-calculated" fxFlex="20%">
          <input
            [ngModel]="calcTax4Percentage()"
            disabled
            mask="separator.4"
            matInput
            type="number">

          <span matSuffix>%&nbsp;</span>

        </mat-form-field>
        <mat-form-field class="tax-4-percentage" fxFlex="20%">

          <mat-label>{{'Tax 4 % Override'}}</mat-label>

          <input #tax4OverrideInput

                 (focus)="tax4OverrideInput.select()"
                 [(ngModel)]="taxAmountPercentage4Override"
                 matInput
                 placeholder="0"
                 type="number">

          <span matSuffix>%</span>

        </mat-form-field>
        <div fxFlex="20%">&nbsp;</div>
        <mat-icon> &nbsp;</mat-icon>
      </div>

    </div>


  </mat-card>

  <div fxFlex="1%"></div>

  <mat-card fxFlex="29.5%" fxLayout="column" fxLayoutAlign="start">

    <div class="subtotal-row" fxLayout="column">
      <div fxLayout="row">
        <div fxFlex="70%">{{'Base Amounts: '}}</div>
        <div>{{getBaseSubtotal() | currency}}</div>
      </div>
      <div fxLayout="row">
        <div fxFlex="70%">{{'Overages: '}}</div>
        <div>{{getOverageSubtotal() | currency}}</div>
      </div>

      <div class="total-row" fxLayout="row">
        <div fxFlex="70%">{{'Fee Base Total: '}}</div>
        <div>{{getBase_Overage_Total() | currency}}</div>
      </div>

    </div>

    <div class="subtotal-row" fxLayout="column">
      <div fxLayout="row">
        <div fxFlex="70%">{{'Fuel: '}}</div>
        <div>{{calcFuelAmount() | currency}}</div>
      </div>
      <div fxLayout="row">
        <div fxFlex="70%">{{'ENV: '}}</div>
        <div>{{calcEnvAmount() | currency}}</div>
      </div>
      <div fxLayout="row">
        <div fxFlex="70%">{{'RCR: '}}</div>
        <div>{{calcRcrAmount() | currency}}</div>
      </div>
      <div fxLayout="row">
        <div fxFlex="70%">{{'Franchise: '}}</div>
        <div>{{calcFranchiseAmount() | currency}}</div>
      </div>

      <div class="total-row" fxLayout="row">
        <div fxFlex="70%">{{'Fees Total: '}}</div>
        <div>{{calcFeesTotal() | currency}}</div>
      </div>

    </div>

    <div class="subtotal-row" fxLayout="column">

      <div class="total-row" fxLayout="row">
        <div fxFlex="70%">{{'Admin Fee: '}}</div>
        <div>{{calcAdminFeesTotal() | currency}}</div>
      </div>

      <div class="total-row" fxLayout="row">
        <div fxFlex="70%">{{'Other Fees: '}}</div>
        <div>{{calcOther12FeesTotal() | currency}}</div>
      </div>

      <div class="total-row" fxLayout="row">
        <div fxFlex="70%">{{'Taxes @ '}}{{(calcTaxTotal() / calcTaxBase()) * 100 | mask:'separator.4'}}{{'%'}}</div>
        <div>{{calcTaxTotal() | currency}}</div>
      </div>


      <div class="total-row" fxLayout="row">
        <div fxFlex="70%">{{'Late Fee: '}}</div>
        <div>{{calculateLateFeesTotal() | currency}}</div>
      </div>

      <div class="total-row bill-total-amount" fxLayout="row">
        <div fxFlex="70%">{{'Bill Total:'}}</div>
        <div>{{calcTotalBill() | currency}}</div>
      </div>

    </div>


  </mat-card>

  <div fxFlex="1%"></div>

  <mat-card fxFlex="29.5%" fxLayout="column" fxLayoutAlign="start">


    <div class="total-row2" fxLayout="row">
      <div fxFlex="70%">{{'Hauler Ovg: '}}</div>
      <div>{{calcHaulerOverages() | currency}}</div>
    </div>


    <div class="total-row" fxLayout="row">
      <div fxFlex="70%">{{'Customer Ovg: '}}</div>
      <div>{{ calcCustomerOverages() | currency}}</div>
    </div>


  </mat-card>


</div>



