.bill-total-amount {
  text-decoration: underline white 2.5px;
}

.total-row {
  border-top: #797979 solid 1px;
  padding-top: 1em;
  margin-bottom: 1em;
}

.total-row2 {
  margin-bottom: 1em;
}

.home-container {
  margin: .5em 10vw;
}

.fuel-env-rcr-fran-section mat-card-title,
.taxes-section mat-card-title,
.admin-other-section mat-card-title {
  margin-top: 1em
}

mat-card-title {
  margin-bottom: 1em;
}

@media print {
  mat-form-field.mat-form-field input {
    font-size: 9px;
  }

  mat-form-field.mat-form-field {
    font-size: 9px;
  }

  .home-container {
    margin: 0;
  }
  mat-card-title {
    font-size: 85%;
  }
  div.subtotal-row {
    font-size: 9px;
  }
}
