<div fxLayout="column">

  <div fxFlex="row" fxLayoutAlign="center center">

    <mat-card fxFlex.gt-sm="35" fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="">

      <div fxLayout="row" fxLayoutAlign=" center">

        <mat-form-field fxFlex>
          <mat-label>Select Customer</mat-label>
          <input
            (input)="runOtherStuff()"
            (keyup.escape)="onReset()"
            [(ngModel)]="filteredString"
            [matAutocomplete]="auto"
            matInput
            placeholder="Choose One"
            type="text">

          <mat-autocomplete #auto="matAutocomplete"
                            (optionSelected)="selectedCustomer = $event.option.value; runStuff();  runHelper()"
                            [displayWith]="displayFn"
                            autoActiveFirstOption>
            <mat-option *ngFor="let customer of $customers | async | filterCustomer:filteredString"
                        [value]="customer">
              {{customer['customerName']}}
            </mat-option>
          </mat-autocomplete>


          <div matSuffix>
            <button (click)="onReset()" m mat-icon-button>
              <mat-icon>clear</mat-icon>
            </button>
          </div>

        </mat-form-field>


        <button [matMenuTriggerFor]="menu" class="menu-button" mat-icon-button matSuffix>
          <mat-icon>menu</mat-icon>
        </button>


        <mat-menu #menu="matMenu">

          <button (click)="openNewCustomerDialog()"
                  *ngIf="selectedCustomer.customerName === ''" mat-menu-item>
            New Customer
          </button>

          <button (click)="openEditCustomerDialog()"
                  *ngIf="selectedCustomer.customerName != ''" mat-menu-item>
            Edit Customer
          </button>

          <button (click)="openNewAccountDialog()" *ngIf="!needToUpdateCustomer(selectedCustomer)" mat-menu-item>Add New
            Account
          </button>

          <button (click)="openDeleteCustomerDialog(selectedCustomer.customerName, selectedCustomer)"
                  *ngIf="selectedCustomer.customerName != ''"
                  mat-menu-item>🚨 Delete Customer
          </button>

        </mat-menu>

      </div>


      <ng-container *ngIf="$selectedCustomer | async as customers">

        <div *ngFor="let customer of customers">

          <div fxLayout="column" fxLayoutGap=".75em">

            <div>Customer Start: {{customer?.customerApiDate | date:'MM/dd/yy' }}</div>
            <div>Customer API Rate: {{customer?.customerApiRate + '%'}}</div>
            <div>Hauler Start: {{customer?.haulerApiDate | date:'MM/dd/yy'}}</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div>
                Address: {{customer?.address?.streetAddress + ', ' + customer?.address?.city + ', ' + customer?.address?.state + ' ' + customer?.address?.zip}}</div>
            </div>

          </div>

        </div>

      </ng-container>

      <ng-container *ngIf="$selectedCustomer | async as customers">


        <div *ngFor="let customer of customers">
          <ng-container
            *ngIf="needToUpdateCustomer(customer)">
            <h2 class="rainbow-text">
              ***Update Customer***
            </h2>
          </ng-container>
        </div>
      </ng-container>


    </mat-card>
  </div>

  <div
    *ngIf="selectedCustomer.customerName !='' && selectedCustomer.customerApiDate && selectedCustomer.haulerApiDate && selectedCustomer.customerApiRate !=''"
    fxLayout="row"
    fxLayoutAlign="center center">

    <mat-card fxFlex.gt-sm="35" fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="center stretch">


      <mat-card-content *ngFor="let customer of $selectedCustomer | async">

        <mat-tab-group>

          <mat-tab *ngFor="let account of customer.accounts"
                   label="{{account.type | uppercase}} ">

            <mat-divider class="top-margin"></mat-divider>

            <div fxLayout="row" fxLayoutGap=".75em">
              <button (click)="openEditAccountDialog(account)" color="primary" mat-stroked-button>
                {{'Edit ' + account.type + ' Account' | titlecase}}
              </button>

              <button (click)="OpenDeleteAccountDialog(account, customer)" color="primary" mat-stroked-button>
                {{'Delete ' + account.type + ' Account' | titlecase}}
              </button>

              <button color="primary" mat-stroked-button>
                <mat-icon>email</mat-icon>
                <a [href]="sendRepEmail(account, customer)"> {{'E-Mail Rep' | titlecase}}</a>

              </button>
            </div>

            <mat-divider class="top-margin"></mat-divider>

            <div class="service-box" fxLayout="column">
              <div fxLayout="column">

                <div class="display-row" fxFlex="row" fxLayoutAlign="start center">
                  <div class="field-label" fxFlex="26">
                    {{'Service Address: '}}
                  </div>
                  <div class="field-data" fxFlex>
                    {{account.address.streetAddress + ', ' + account.address.city + ', ' + account.address.state + ' ' + account.address.zip}}
                  </div>

                </div>

                <div class="display-row" fxFlex="row" fxLayoutAlign="start">
                  <div class="field-label" fxFlex="26">
                    {{'Account #: '}}
                  </div>
                  <div class="field-data">
                    {{account.accountNumber}}
                  </div>
                </div>
                <div class="group-row" fxFlex="row" fxLayoutAlign="start">
                  <div class="field-label" fxFlex="26">
                    {{'Site #: '}}
                  </div>
                  <div class="field-data">
                    {{account.siteNumber}}
                  </div>
                </div>

                <mat-divider></mat-divider>

                <div class="display-row" fxFlex="row" fxLayoutAlign="start">
                  <div class="field-label" fxFlex="26">
                    {{'Container: '}}
                  </div>
                  <div class="field-data">
                    {{'(' + account.container.count + ')'}}&nbsp;{{account.container.size}}&nbsp;{{account.container.unit}}&nbsp;{{account.container.type}}
                  </div>
                </div>
                <div class="display-row" fxFlex="row" fxLayoutAlign="start">
                  <div class="field-label" fxFlex="26">
                    {{'Min. Containers/Svc: '}}
                  </div>
                  <div class="field-data">
                    {{account.container.minimumPerService}}
                  </div>
                </div>
                <div class="display-row" fxFlex="row" fxLayoutAlign="start">
                  <div class="field-label" fxFlex="26">
                    {{'Frequency: '}}
                  </div>
                  <div class="field-data">
                    {{'Every ' + account.container.frequencyByWeeks + ' Weeks'}}
                  </div>
                </div>
                <div class="display-row" fxFlex="row" fxLayoutAlign="start">
                  <div class="field-label" fxFlex="26">
                    {{'Price per Container: '}}
                  </div>
                  <div class="field-data">
                    {{account.container.price | currency}}

                  </div>
                </div>

                <div class="group-row" fxFlex="row" fxLayoutAlign="start">
                  <div class="field-label" fxFlex="26">
                    {{'Expected Bill Amount: '}}
                  </div>
                  <div class="field-data">
                    {{account.container.monthlyCost | currency}}
                  </div>
                </div>

                <mat-divider></mat-divider>

                <div class="display-row" fxFlex="row" fxLayoutAlign="start end">
                  <div class="field-label" fxFlex="26">
                    {{'Extra Box Amt (Cust): '}}
                  </div>
                  <div class="field-data" fxFlex="10">
                    {{account.container.extraBoxCostCustomer | currency}}
                  </div>


                  <input #extraBoxesCustomerInput (focus)="extraBoxesCustomerInput.select()"
                         [(ngModel)]="extraBoxesCustomer"
                         fxFlex="5"
                         matInput
                         placeholder="0"
                         type="number">

                  <div>&nbsp;</div>
                  <div>&nbsp;</div>

                  <div class="field-data" fxFlex="10">
                    {{calcExtraCustomer(account.container.extraBoxCostCustomer) | currency}}
                  </div>
                  <!--                    <div *ngIf="compareDates(selectedCustomer.customerApiDate)" class="rainbow-text" fxFlex="26">*Update-->
                  <!--                      Pricing*-->
                  <!--                    </div>-->
                  <!--                    this was cool - use it somewhere else-->

                </div>
                <div class="group-row" fxFlex="row" fxLayoutAlign="start">
                  <div class="field-label" fxFlex="26">
                    {{'Extra Box Amt (Hauler): '}}
                  </div>
                  <div class="field-data" fxFlex="10">
                    {{account.container.extraBoxCostHauler | currency}}

                  </div>

                  <input #extraBoxesHaulerInput (focus)="extraBoxesHaulerInput.select()"
                         [(ngModel)]="extraBoxesHauler"
                         fxFlex="5"
                         matInput
                         placeholder="0"
                         type="number">

                  <div>&nbsp;</div>
                  <div>&nbsp;</div>

                  <div class="field-data" fxFlex="10">
                    {{calcExtraHauler(account.container.extraBoxCostHauler) | currency}}
                  </div>

                  <!--                    <div *ngIf="compareDates(selectedCustomer.haulerApiDate)" class="rainbow-text" fxFlex="26">*Update-->
                  <!--                      Pricing*-->
                  <!--                    </div>-->

                </div>

                <div class="display-row" fxFlex="row" fxLayoutAlign="start end">
                  <div class="field-label" fxFlex="26">
                    {{'Customer Start: '}}
                  </div>
                  <div class="field-data" fxFlex="40">
                    {{customer.customerApiDate | date:'MM/dd/yy'}}

                    &nbsp;&nbsp;&nbsp;&nbsp; -
                    &nbsp;&nbsp;&nbsp;{{account.container.extraBoxCostCustomerOriginal | currency}}
                  </div>

                </div>
                <div class="display-row" fxLayout="row" fxLayoutAlign="start">
                  <div class="field-label" fxFlex="26">
                    {{'Customer APIs: ' + '@' + customer.customerApiRate + '%'}}
                  </div>
                  <div class="field-data" fxFlex="40" fxLayout="column">
                    <div>
                      {{addOneYear(customer.customerApiDate) | date:'MM/dd/yy'}}

                      &nbsp;&nbsp;&nbsp;&nbsp; -
                      &nbsp;&nbsp;&nbsp;{{addOneApi(account.container.extraBoxCostCustomerOriginal, customer.customerApiRate) | currency}}
                    </div>
                    <div>
                      {{addTwoYears(customer.customerApiDate) | date:'MM/dd/yy'}}

                      &nbsp;&nbsp;&nbsp;&nbsp; -
                      &nbsp;&nbsp;&nbsp;{{addTwoApis(account.container.extraBoxCostCustomerOriginal, customer.customerApiRate) | currency}}
                    </div>

                  </div>


                </div>

                <div class="display-row" fxFlex="row" fxLayoutAlign="start">
                  <div class="field-label" fxFlex="26">
                    {{'Notes: '}}
                  </div>
                </div>
                <div class="display-row" fxFlex="row" fxLayoutAlign="start">

                  <div fxLayout="column">
                    <div *ngFor="let note of account.notes; let i = index" fxLayout="row" fxLayoutAlign="start center">


                      <p (dblclick)="openDeleteNoteDialog(account,customer, i, note)"
                         class="delete-note-button">{{'⁃ ' + note}}</p>
                    </div>

                  </div>
                </div>

                <div class="display-row" fxFlex="row" fxLayoutAlign="start">

                  <div fxFlex="row" fxLayoutAlign="start center">
                    <mat-form-field fxFlex>
                      <mat-label>Add a Note</mat-label>
                      <input (keyup.enter)="addNoteInput._elementRef.nativeElement.click()"
                             [(ngModel)]="noteInput"
                             matInput>
                      <mat-icon #addNoteInput (click)="onAddNote(account, customer)" matSuffix>add</mat-icon>

                    </mat-form-field>
                  </div>

                </div>
              </div>


            </div>


          </mat-tab>


        </mat-tab-group>


        <div>

        </div>
      </mat-card-content>

    </mat-card>

  </div>
</div>





