
.test {
  background-color: crimson;
}

.page-title {

  margin: .5em auto
}

mat-card-title {
  margin-top: 1em;
}

mat-card {
  margin-top: .5em;
}

.service-address {
  margin-top: .5em;
  font-size: 16px;
}


.service-box {
  font-size: 16px;
}
