mat-card-title {
  margin-top: 1em;
}

mat-card {
  margin-top: .5em;
}

.service-box {
  font-size: 16px;
}

.display-row {
  margin-top: .75em;
}

.confirm-button {
  margin-top: .5em;
}

.delete-button {
  margin-top: .5em;
}

.deny-button {
  margin-top: .5em;
  margin-right: .5em;
}
