mat-card-title {
  margin-top: 1em;
}

mat-card {
  margin-top: .5em;
}

.top-margin {
  margin-top: .75em;
}

.service-box {
  font-size: 14px;
}

.group-row {
  margin-bottom: .75em;
}

.confirm-button {
  margin-top: .5em;
}

.delete-button {
  margin-top: .5em;
}

.deny-button {
  margin-top: .5em;
  margin-right: .5em;
}

.rainbow-text {
  background-image: repeating-linear-gradient(65deg, indigo, blue, green, violet, yellow, orange, red);
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 2s ease infinite;
}

mat-divider {
  border-top: #d0612a solid 2px;
  margin-bottom: .75em;
}
