<div fxLayout="column" fxLayoutAlign="space-between stretch">

  <div fxFlex="row" fxLayoutAlign="center center">

    <mat-card fxFlex.gt-sm="60" fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="center stretch">

      <div fxLayout="row" fxLayoutAlign=" center">
        <mat-form-field fxFlex>
          <mat-label>Select Customer</mat-label>
          <input (keyup.escape)="resetFilteredString(); resetSelectedCustomer()"
                 [(ngModel)]="filteredString"
                 [matAutocomplete]="auto"
                 matInput
                 placeholder="Choose One" type="text">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedCustomer = $event.option.value"
                            [displayWith]="displayFn"
                            autoActiveFirstOption>
            <mat-option *ngFor="let customer of $customers | async | filterCustomer:filteredString"
                        [value]="customer">
              {{customer.customerName}}
            </mat-option>
          </mat-autocomplete>


        </mat-form-field>
        <mat-icon (click)="resetFilteredString(); resetSelectedCustomer(); auto.showPanel = false ">delete
        </mat-icon>
      </div>


      <!--      <mat-form-field appearance="fill" fxFill>-->
      <!--        <mat-label>Choose a Customer</mat-label>-->
      <!--        <mat-select [(ngModel)]="selectedCustomer">-->
      <!--          <mat-option *ngFor="let customer of $customers | async "-->
      <!--                      [value]="customer">-->
      <!--            {{customer.customerName}}-->
      <!--          </mat-option>-->
      <!--        </mat-select>-->
      <!--      </mat-form-field>-->

      <mat-accordion>

        <mat-expansion-panel [disabled]="!!filteredString">
          <mat-expansion-panel-header>
            <mat-panel-title>
              New Customer
            </mat-panel-title>
            <mat-panel-description>
              <!--              🚨 Copy DIRECTLY from Feenix 🚨-->


            </mat-panel-description>
          </mat-expansion-panel-header>

          <form [formGroup]="customerForm" class="login-form">
            <mat-form-field class="customer" fxFill>
              <mat-label>Customer</mat-label>
              <input autocomplete="off" formControlName="customerName" matInput type="text">
            </mat-form-field>
          </form>

          <button (click)="onAddNewCustomer()" color="primary" mat-raised-button>Add New Customer</button>

        </mat-expansion-panel>


        <mat-expansion-panel>

          <mat-expansion-panel-header>
            <mat-panel-title>
              New On-Call Account
            </mat-panel-title>
            <mat-panel-description>
              For: {{this.selectedCustomer.customerName}}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-card-title>Service Info</mat-card-title>

          <form [formGroup]="addressForm" class="login-form">


            <mat-form-field fxFill>
              <mat-label>Street Address</mat-label>
              <input autocomplete="off" formControlName="streetAddress" matInput>
            </mat-form-field>


            <div fxLayout="row">
              <mat-form-field fxFlex="50">
                <mat-label>City</mat-label>
                <input autocomplete="off" formControlName="city" matInput>
              </mat-form-field>

              <mat-form-field fxFlex="20">
                <mat-label>State</mat-label>
                <input autocomplete="off" formControlName="state" matInput>
              </mat-form-field>

              <mat-form-field fxFlex="30">
                <mat-label>Zip</mat-label>
                <input autocomplete="off" formControlName="zip" matInput>
              </mat-form-field>
            </div>


          </form>
          <form [formGroup]="accountForm" class="login-form" fxLayout="column">
            <div fxLayout="row">

              <mat-form-field class="account-type" fxFlex="20">
                <mat-label>Type</mat-label>
                <input autocomplete="off" formControlName="type" matInput type="text">
              </mat-form-field>

              <mat-form-field class="account-number" fxFlex="40">
                <mat-label>Account #</mat-label>
                <input autocomplete="off" formControlName="accountNumber" matInput type="text">
              </mat-form-field>

              <mat-form-field class="site-number" fxFlex="40">
                <mat-label>Site # or Sub Account #</mat-label>
                <input autocomplete="off" formControlName="siteNumber" matInput type="text">
              </mat-form-field>
            </div>
          </form>
          <form [formGroup]="containerForm" class="login-form" fxLayout="column">

            <mat-card-title>Container</mat-card-title>

            <mat-form-field>
              <mat-label>Count</mat-label>
              <input autocomplete="off" formControlName="count" matInput>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Size</mat-label>
              <input autocomplete="off" formControlName="size" matInput>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Unit</mat-label>
              <input autocomplete="off" formControlName="unit" matInput placeholder="Gal, etc.">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Type</mat-label>
              <input autocomplete="off" formControlName="type" matInput placeholder="Tub, Box, etc.">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Description</mat-label>
              <input autocomplete="off" formControlName="description" matInput>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Price</mat-label>
              <input autocomplete="off" formControlName="price" matInput>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Minimum Per Service</mat-label>
              <input autocomplete="off" formControlName="minimumPerService" matInput>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Frequency in Weeks</mat-label>
              <input autocomplete="off" formControlName="frequencyByWeeks" matInput>
            </mat-form-field>

            <mat-form-field disabled>
              <mat-label>Per Service Cost</mat-label>
              <input autocomplete="off" formControlName="perServiceCost" matInput>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Monthly Cost</mat-label>
              <input autocomplete="off" formControlName="monthlyCost" matInput>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Extra Boxes Cost Hauler</mat-label>
              <input autocomplete="off" formControlName="extraBoxCostHauler" matInput>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Extra Boxes Cost Hauler</mat-label>
              <input autocomplete="off" formControlName="extraBoxCostCustomer" matInput>
            </mat-form-field>

          </form>
          <button (click)="onAddNewAccount()" [disabled]="!selectedCustomer.customerName" color="primary"
                  mat-raised-button>Add Account
          </button>

        </mat-expansion-panel>

      </mat-accordion>

    </mat-card>

  </div>

</div>


<div fxLayout="column" fxLayoutAlign="space-between stretch">

  <div fxFlex="row" fxLayoutAlign="center center">
    <mat-card fxFlex.gt-sm="60" fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="center stretch">


      <mat-card-content>

        <mat-tab-group *ngIf="selectedCustomer as customer">
          <ng-container *ngFor="let accounts of selectedCustomer.accounts">
            <mat-tab label="{{customer.customerName}}{{' - '}}{{accounts.type}}">

              <div class="service-box" fxLayout="column">
                <div fxLayout="column">

                  <div class="display-row" fxFlex="row" fxLayoutAlign="start">
                    <div class="field-label" fxFlex="20">
                      {{'Service Address: '}}
                    </div>
                    <div class="field-data">
                      {{accounts.address.streetAddress}}
                    </div>
                  </div>

                  <div class="display-row" fxFlex="row" fxLayoutAlign="start">
                    <div class="field-label" fxFlex="20">
                      {{'Account #: '}}
                    </div>
                    <div class="field-data">
                      {{accounts.accountNumber}}
                    </div>
                  </div>
                  <div class="group-row" fxFlex="row" fxLayoutAlign="start">
                    <div class="field-label" fxFlex="20">
                      {{'Site #: '}}
                    </div>
                    <div class="field-data">
                      {{accounts.siteNumber}}
                    </div>
                  </div>

                  <div class="display-row" fxFlex="row" fxLayoutAlign="start">
                    <div class="field-label" fxFlex="20">
                      {{'Container: '}}
                    </div>
                    <div class="field-data">
                      {{'(' + accounts.container.count + ')'}}&nbsp;{{accounts.container.size}}&nbsp;{{accounts.container.unit}}&nbsp;{{accounts.container.type}}
                    </div>
                  </div>
                  <div class="group-row" fxFlex="row" fxLayoutAlign="start">
                    <div class="field-label" fxFlex="20">
                      {{'Min. Containers Per Service: '}}
                    </div>
                    <div class="field-data">
                      {{accounts.container.minimumPerService}}
                    </div>
                  </div>
                  <div class="group-row" fxFlex="row" fxLayoutAlign="start">
                    <div class="field-label" fxFlex="20">
                      {{'Frequency: '}}
                    </div>
                    <div class="field-data">
                      {{'Every ' + accounts.container.frequencyByWeeks + ' Weeks'}}
                    </div>
                  </div>
                  <div class="group-row" fxFlex="row" fxLayoutAlign="start">
                    <div class="field-label" fxFlex="20">
                      {{'Price per Box: '}}
                    </div>
                    <div class="field-data">
                      {{accounts.container.price | currency}}

                    </div>
                  </div>

                  <div class="display-row" fxFlex="row" fxLayoutAlign="start">
                    <div class="field-label" fxFlex="20">
                      {{'Expected Bill Amount: '}}
                    </div>
                    <div class="field-data">
                      {{accounts.container.monthlyCost | currency}}
                    </div>
                  </div>

                  <div class="display-row" fxFlex="row" fxLayoutAlign="start end">
                    <div class="field-label" fxFlex="20">
                      {{'Extra Box Amount (Cust): '}}
                    </div>
                    <div class="field-data" fxFlex="7">
                      {{accounts.container.extraBoxCostCustomer | currency}}
                    </div>

                    <input #extraBoxesCustomerInput (focus)="extraBoxesCustomerInput.select()"
                           [(ngModel)]="extraBoxesCustomer"
                           fxFlex="5"
                           matInput
                           placeholder="0"
                           type="number">

                    <div>&nbsp;</div>
                    <div>&nbsp;</div>

                    <div class="field-data" fxFlex="2">
                      {{calcExtraCustomer(accounts.container.extraBoxCostCustomer) | currency}}
                    </div>

                  </div>
                  <div class="group-row" fxFlex="row" fxLayoutAlign="start">
                    <div class="field-label" fxFlex="20">
                      {{'Extra Box Amount (Hauler): '}}
                    </div>
                    <div class="field-data" fxFlex="7">
                      {{accounts.container.extraBoxCostHauler | currency}}

                    </div>

                    <input #extraBoxesHaulerInput (focus)="extraBoxesHaulerInput.select()"
                           [(ngModel)]="extraBoxesHauler"
                           fxFlex="5"
                           matInput
                           placeholder="0"
                           type="number">
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>

                    <div class="field-data" fxFlex="10">
                      {{calcExtraHauler(accounts.container.extraBoxCostHauler) | currency}}
                    </div>


                  </div>

                  <div class="display-row" fxFlex="row" fxLayoutAlign="start">
                    <div class="field-label" fxFlex="20">
                      {{'Notes: '}}
                    </div>
                    <div fxFlex="column">
                      <div *ngFor="let note of accounts.notes">
                        <div>{{note}}</div>
                      </div>
                      <div #deleteButton>
                        <button (click)="confirmDeleteButton.disabled = false; denyButton.disabled = false; confirmButtons.hidden = false; deleteButton.hidden = true"

                                class="delete-button"
                                color="primary"
                                mat-raised-button>
                          Delete
                          Account
                        </button>
                      </div>
                      <div #confirmButtons [hidden]="true">
                        <button #denyButton
                                (click)="confirmDeleteButton.disabled = true; denyButton.disabled = true; confirmButtons.hidden = true; deleteButton.hidden = false"
                                [disabled]="true"
                                class="deny-button"
                                color="primary" mat-raised-button>
                          No
                        </button>
                        <button #confirmDeleteButton (click)="onConfirmDeleteAccount(accounts)" [disabled]="true"
                                class="confirm-button"
                                color="primary" mat-raised-button> Yes
                        </button>
                      </div>


                    </div>
                  </div>


                </div>
              </div>

            </mat-tab>

          </ng-container>
        </mat-tab-group>


        <div>

        </div>
      </mat-card-content>

    </mat-card>
  </div>
</div>

