<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav>

    <mat-nav-list (click)="sidenav.close()">

      <a mat-list-item routerLink="home">
        <mat-icon>house</mat-icon>
        <span>&nbsp;</span>
        <span>Home</span>
      </a>

      <a mat-list-item routerLink="bill-fixer">
        <mat-icon>construction</mat-icon>
        <span>&nbsp;</span>
        <span>Bill Fixer</span>
      </a>

      <a mat-list-item routerLink="hauler-contact">
        <mat-icon>contact_phone</mat-icon>
        <span>&nbsp;</span>
        <span>Hauler Contacts</span>
      </a>

      <a mat-list-item routerLink="medicalInfo">
        <mat-icon>ring_volume</mat-icon>
        <span>&nbsp;</span>
        <span>On-Call Accounts</span>
      </a>


    </mat-nav-list>


  </mat-sidenav>

  <mat-toolbar color="primary">

    <button (click)="sidenav.open()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <h1>NWENV</h1>


    <!--    <a [matMenuTriggerFor]="dropdown" mat-button>-->
    <!--      Placeholder-->
    <!--    </a>-->

    <!--    <mat-menu #dropdown>-->

    <!--      <button mat-menu-item routerLink="/">Placeholder</button>-->

    <!--      <button mat-menu-item routerLink="/about">Placeholder</button>-->

    <!--    </mat-menu>-->

    <!--    <a mat-button>-->
    <!--      <mat-icon>person_add</mat-icon>-->
    <!--      Register-->
    <!--    </a>-->

    <!--    <a mat-button>-->
    <!--      <mat-icon>account_circle</mat-icon>-->
    <!--      Login-->
    <!--    </a>-->

  </mat-toolbar>


  <router-outlet></router-outlet>


</mat-sidenav-container>
