<div class="home-container" fxLayout="row">

  <mat-card fxFlex="64.5%" fxLayout="column">

    <h1>Base Services, Overages</h1>

    <div fxLayout="row" fxLayoutAlign="space-between">
      <mat-form-field class="type" fxFlex="20%">
        <mat-label>Type</mat-label>
        <mat-select #selectOption
                    [(ngModel)]="amtType"
                    autofocus>
          <mat-option (click)="selectOption.close()" *ngFor="let type of amountTypes" [value]="type.value">
            {{type.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="amount" fxFlex="20%">
        <mat-label>Amount</mat-label>
        <input #amtInput
               (focus)="amtInput.select()"
               (input)="calcSubtotal()"
               (keyup.enter)="addNewButton._elementRef.nativeElement.click()"
               [(ngModel)]="amount"
               mask="separator.2"
               matInput
               placeholder="0"
               thousandSeparator=","

               type="text">
        <span matPrefix>$&nbsp;</span>

      </mat-form-field>
      <mat-form-field class="frequency" fxFlex="20%">
        <input #frequencyInput
               (focus)="frequencyInput.select()"
               (input)="calcSubtotal()"
               (keyup.enter)="addNewButton._elementRef.nativeElement.click()"
               [(ngModel)]="frequency"
               matInput
               placeholder="Frequency"
               type="number">
      </mat-form-field>
      <mat-form-field class="subtotal" fxFlex="20%">
        <mat-label>Subtotal</mat-label>
        <input #subTotalAmt
               [(ngModel)]="subtotal"
               [disabled]="true"
               mask="separator.2"
               matInput
               placeholder="0"
               thousandSeparator=",">
        <span matPrefix>$&nbsp;</span>

      </mat-form-field>
      <mat-icon #addNewButton
                (click)="addNewBaseOverageAmount(); selectOption.focus();">
        add
      </mat-icon>


    </div>

    <div *ngFor="let baseAmount of baseAmounts; index as i" fxLayout="row">

      <div fxFlex="10%">{{baseAmount.amount | currency}}</div>
      <div fxFlex="10%">{{baseAmount.type | titlecase}}</div>
      <div fxFlex="10%">{{baseAmount.frequency}}</div>
      <div fxFlex="10%">{{baseAmount.subtotal | currency}}</div>
      <mat-icon #deleteLineButton (click)="deleteNewBaseOverageAmount(i, baseAmount.type)">delete</mat-icon>
    </div>
    <div *ngFor="let overageAmount of overageAmounts; index as i" fxLayout="row">

      <div fxFlex="10%">{{overageAmount.amount | currency}}</div>
      <div fxFlex="10%">{{overageAmount.type | titlecase}}</div>
      <div fxFlex="10%">{{overageAmount.frequency}}</div>
      <div fxFlex="10%">{{overageAmount.subtotal | currency}}</div>
      <mat-icon (click)="deleteNewBaseOverageAmount(i, overageAmount.type)">delete</mat-icon>
    </div>

    <div fxFlex="64.5%" fxLayout="column">

      <h1>Fuel, ENV, RCR, Franchise</h1>

      <div class="fuel-row" fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field class="fuel-amount" fxFlex="20%">
          <mat-label>{{'Fuel Amount From Bill'}}</mat-label>
          <input #fuelAmountInput
                 (focus)="fuelAmountInput.select()"
                 [(ngModel)]="fuelAmount"
                 mask="separator.2"
                 matInput
                 placeholder="0"
                 thousandSeparator=","

                 type="text">
          <span matPrefix>$&nbsp;</span>

        </mat-form-field>
        <mat-form-field class="fuel-calculated" fxFlex="20%">
          <mat-label>{{'Fuel % Calculated'}}</mat-label>
          <input
            [ngModel]="calcFuelPercentage()"
            disabled
            mask="00.0000"
            matInput
            placeholder="0"
            type="number">
          <span matSuffix>%&nbsp;</span>


        </mat-form-field>
        <mat-form-field class="fuel-override" fxFlex="20%">
          <mat-label>{{'% Override'}}</mat-label>
          <input #fuelOverride
                 (focus)="fuelOverride.select()"
                 [(ngModel)]="fuelPercentage"
                 matInput
                 placeholder="0"
                 type="number">

          <span matSuffix>%</span>

        </mat-form-field>
        <div fxFlex="20%">&nbsp;</div>
        <mat-icon> &nbsp;</mat-icon>
      </div>
      <div class="env-row" fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field class="env-amount" fxFlex="20%">
          <mat-label>{{'ENV Amount From Bill'}}</mat-label>
          <input #envAmountInput
                 (focus)="envAmountInput.select()"
                 [(ngModel)]="envAmount"
                 mask="separator.2"
                 matInput
                 placeholder="0"
                 thousandSeparator=","

                 type="text">
          <span matPrefix>$&nbsp;</span>

        </mat-form-field>
        <mat-form-field class="env-calculated" fxFlex="20%">
          <mat-label>{{'ENV % Calculated'}}</mat-label>
          <input
            [ngModel]="calcEnvPercentage()"
            disabled
            matInput
            placeholder="0"
            type="number">

          <span matSuffix>%&nbsp;</span>

        </mat-form-field>
        <mat-form-field class="env-override" fxFlex="20%">
          <mat-label>{{'% Override'}}</mat-label>
          <input #envOverrideInput
                 (focus)="envOverrideInput.select()"
                 [(ngModel)]="envPercentage"
                 matInput
                 placeholder="0"
                 type="number">

          <span matSuffix>%</span>

        </mat-form-field>
        <div fxFlex="20%">&nbsp;</div>
        <mat-icon> &nbsp;</mat-icon>
      </div>
      <div class="rcr-row" fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field class="rcr-amount" fxFlex="20%">
          <mat-label>{{'RCR Amount From Bill'}}</mat-label>
          <input #rcrAmountInput
                 (focus)="rcrAmountInput.select()"
                 [(ngModel)]="rcrAmount"
                 mask="separator.2"
                 matInput
                 placeholder="0"
                 thousandSeparator=","
                 type="text">

          <span matPrefix>$&nbsp;</span>

        </mat-form-field>
        <mat-form-field class="rcr-calculated" fxFlex="20%">

          <mat-label>{{'RCR % Calculated'}}</mat-label>

          <input
            [ngModel]="calcRcrPercentage()"
            disabled
            matInput
            placeholder="0"
            type="number">

          <span matSuffix>%&nbsp;</span>

        </mat-form-field>
        <mat-form-field class="rcr-override" fxFlex="20%">

          <mat-label>{{'RCR % Override'}}</mat-label>

          <input #rcrOverrideInput
                 (focus)="rcrOverrideInput.select()"
                 [(ngModel)]="rcrPercentage"
                 matInput
                 placeholder="0"
                 type="number">

          <span matSuffix>%</span>

        </mat-form-field>
        <div fxFlex="20%">&nbsp;</div>
        <mat-icon> &nbsp;</mat-icon>
      </div>
      <div class="franchise-row" fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field class="franchise-amount" fxFlex="20%">

          <mat-label>{{'Franchise Amount From Bill'}}</mat-label>

          <input #franchiseAmountInput

                 (focus)="franchiseAmountInput.select()"
                 [(ngModel)]="franchiseAmount"
                 mask="separator.2"
                 matInput
                 placeholder="0"
                 thousandSeparator=","
                 type="text">

          <span matPrefix>$&nbsp;</span>

        </mat-form-field>
        <mat-form-field class="franchise-calculated" fxFlex="20%">

          <mat-label>{{'Franchise % Calculated'}}</mat-label>

          <input
            [ngModel]="calcFranchisePercentage()"
            disabled
            matInput
            placeholder="0"
            type="number">

          <span matSuffix>%&nbsp;</span>

        </mat-form-field>
        <mat-form-field class="franchise-percentage" fxFlex="20%">

          <mat-label>{{'% Override'}}</mat-label>

          <input #franchiseOverrideInput

                 (focus)="franchiseOverrideInput.select()"
                 [(ngModel)]="franchisePercentage"
                 matInput
                 placeholder="0"
                 type="number">

          <span matSuffix>%</span>

        </mat-form-field>
        <div fxFlex="20%">&nbsp;</div>
        <mat-icon> &nbsp;</mat-icon>
      </div>

    </div>

  </mat-card>

  <div fxFlex="1%"></div>

  <mat-card fxFlex="34.5%" fxLayout="column" fxLayoutAlign="start">

    <div class="subtotal-row" fxLayout="column">
      <div fxLayout="row">
        <div fxFlex="60%">{{'Base Amounts: '}}</div>
        <div>{{calcBaseAmounts() | currency}}</div>
      </div>
      <div fxLayout="row">
        <div fxFlex="60%">{{'Overages: '}}</div>
        <div>{{calcOverageAmounts() | currency}}</div>
      </div>

      <div class="total-row" fxLayout="row">
        <div fxFlex="60%">{{'Fee Base Total: '}}</div>
        <div>{{calcFeeBaseTotal() | currency}}</div>
      </div>

    </div>

    <div class="subtotal-row" fxLayout="column">
      <div fxLayout="row">
        <div fxFlex="60%">{{'Fuel: '}}</div>
        <div>{{calcFuelAmount() | currency}}</div>
      </div>
      <div fxLayout="row">
        <div fxFlex="60%">{{'ENV: '}}</div>
        <div>{{calcEnvAmount() | currency}}</div>
      </div>
      <div fxLayout="row">
        <div fxFlex="60%">{{'RCR: '}}</div>
        <div>{{calcRcrAmount() | currency}}</div>
      </div>
      <div fxLayout="row">
        <div fxFlex="60%">{{'Franchise: '}}</div>
        <div>{{calcFranchiseAmount() | currency}}</div>
      </div>

      <div class="total-row" fxLayout="row">
        <div fxFlex="60%">{{'Bill Total: '}}</div>
        <div>{{calcTotalBill() | currency}}</div>
      </div>

    </div>


  </mat-card>


</div>


